#--------------------------------------------------------------------------------------------------
# .gitignore
#--------------------------------------------------------------------------------------------------
node_modules
target
ts-artifacts
#--------------------------------------------------------------------------------------------------
pnpm-lock.yaml